# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter / Dart / Pub
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
**/build/
/coverage/
flutter-run.log
analyze.txt

# Symbolication / obfuscation
app.*.symbols
app.*.map.json

# Android build artefacts
/android/app/debug
/android/app/profile
/android/app/release
android/.gradle
android/captures/
android/local.properties
android/key.properties
*.jks
*.keystore

# iOS build artefacts
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# OS
Thumbs.db
